
/* Maurice Achtenhagen */

#question-wrapper {
	color: #333;
	float: left;
	font-size: 16px;
	padding: 40px 0 0 40px;
	width: 560px
}

#question-wrapper h1 { margin-bottom: 60px }

#question-wrapper .step {
	border-left: 1px solid rgba(0, 0, 0, .04);
	margin-bottom: 40px;
	padding: 0 20px 0 20px;
	position: relative
}

#question-wrapper .step .num {
	color: rgba(0, 0, 0, .25);
	font-size: 20px;
	left: -25px;
	position: absolute;
	top: 0
}

#question-wrapper p {
	font-size: 16px;
	font-weight: bold
}

#question-wrapper input {
	display: inline-block;
	padding: 0 10px
}

#question-wrapper table {
	margin-top: 20px;
	width: 100%
}

#function-name {
	margin: 0 10px;
	text-align: center;
	width: 110px
}

#question-wrapper select {
	background: #fff;
	height: 35px;
	border: 1px solid #E0E2EA;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 10px;
	padding: 0 10px;
	text-align: center
}

#description {
	height: 120px;
	margin-top: 20px;
	min-height: 120px
}

#arguments input  { width: 250px }
#arguments select { width: 100px }

#arguments tr, #unit-tests tr { vertical-align: top }

#arguments tr { height: 60px }

#unit-tests td:last-child .button,
#arguments td:last-child .button {
	float: right;
	height: 35px;
	width: 100px
}

#unit-tests .inputs li:first-child { margin-top: 0 }

#unit-tests .input-type-selector { margin-right: 0 }

#unit-tests .output-wrapper { margin-bottom: 20px }

#unit-tests .unit-input-txt  {
	margin-bottom: 20px;
	width: 360px
}

#unit-tests .unit-output-txt { width: 360px }

#submit { margin-top: 20px }

#sidebar {
	border-left: 1px solid #E0E2EA;
	float: right;
	height: 100%;
	width: 30%
}

#error:empty { display: none }
#error {
	padding: 10px;
	background: peachpuff;
	color: black;
	font-weight: bold;
	margin-bottom: 10px
}

#unit-output { margin-top: 20px !important }
