#question-wrapper {
	background: rgba(0, 0, 0, .04);
	color: #333;
	float: left;
	font-size: 16px;
	padding: 40px 0 0 40px;
	width: 600px
}

#question-wrapper h1 { margin-bottom: 60px }

#question-wrapper .step {
	border-left: 1px solid rgba(0, 0, 0, .04);
	margin-bottom: 40px;
	padding: 0 20px 20px 20px;
	position: relative
}

#question-wrapper .step .num {
	color: rgba(0, 0, 0, .25);
	font-size: 20px;
	left: -25px;
	position: absolute;
	top: 0
}

#question-wrapper p {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 40px
}

#question-wrapper input {
	display: inline-block;
	margin: 0 10px;
	padding: 0 10px;
	text-align: center
}

#function-name { width: 110px }

#add-arg { margin-top: 40px }

#question-wrapper select {
	background: #fff;
	height: 35px;
	border: 1px solid #E0E2EA;
	border-radius: 4px;
	font-size: 16px;
	margin: 0 10px;
	padding: 0 10px;
	text-align: center
}

#solution {
	height: 200px;
	width: 100%
}

#submit { }

#sidebar {
	border-left: 1px solid #E0E2EA;
	float: right;
	height: 100%;
	width: 30%
}

#error:empty { display: none }
#error {
	padding: 10px;
	background: peachpuff;
	color: black;
	font-weight: bold;
	margin-bottom: 10px
}
