/* Maurice Achtenhagen */

#test-results-wrapper {
	color: #333;
	float: left;
	font-size: 16px;
	height: 100%;
	padding: 80px;
	width: 50%
}

#test-results-wrapper table {
	border: 1px solid rgba(0, 0, 0, .1);
	border-radius: 6px;
	margin: 40px auto 0 40px;
	width: 600px
}

#test-results-wrapper td,
#test-results-wrapper th {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	padding: 20px;
	text-align: center
}

#test-results-wrapper tr:last-child td { border-bottom: 0 }

#test-results-wrapper .status {
	background: #ffc8c8;
	border: 1px solid #d94c4c;
	border-radius: 4px;
	color: #c32020;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    padding: 4px 0;
    text-align: center;
    width: 60px
}

#test-results-wrapper .status.pass {
    background: #c8ffcb;
    border: 1px solid #4cd964;
    color: #20c33c
}
