/* Maurice Achtenhagen */

#sidebar {
	background: #fff;
	box-shadow: -2px 0 4px rgba(0, 0, 0, .1);
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	right: 0;
	top: 0;
	width: 30%;
	z-index: 1
}

#sidebar .header {
	height: 60px;
	background: #8A0000
}

#filter {
	padding: 10px;
	position: relative
}

#filter-search {
	margin-bottom: 10px;
	padding: 0 72px 0 10px
}

#filter-search-btn {
	font-size: 12px;
	height: 23px;
	position: absolute;
	right: 16px;
	top: 16px;
	width: 60px
}

#filter select {
	background: white;
	cursor: pointer;
	float: left;
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%
}

#filter .selector { -webkit-font-smoothing: subpixel-antialiased }
#filter .selector {
	border: 1px solid #8A0000;
	border-radius: 4px;
	color: #8A0000;
	float: left;
	height: 30px;
	overflow: hidden;
	position: relative;
	width: 49%
}

#filter .selector:nth-of-type(2) { margin-left: 2% }

#filter .selector,
#filter .selector:hover { transition: all .3s ease-in-out }

#filter .selector:hover {
	background: #8A0000;
	color: #fff
}

#filter .clear { clear: both }

#filter .selector span {
	cursor: pointer;
	display: block;
	line-height: 16px;
	overflow: hidden;
	padding: 6px 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%
}

#question-list li {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	color: #4d4d4d;
	cursor: pointer;
	padding: 15px;
	position: relative
}

#question-list li:first-child { border-top: 1px solid rgba(0, 0, 0, .1) }

#question-list li:first-child:hover { border-top: 1px solid #ffc8c8 }

#question-list li:hover {
	background: #fff1f1;
	border-bottom: 1px solid #ffc8c8;
}

#question-list li p {
	font-size: 12px;
	line-height: 20px

}

#question-list li p strong {
	background: #f1f8ff;
	border: 1px solid #c8e1ff;
	border-radius: 4px;
	font-size: 10px;
	padding: 0 6px
}

#question-list li p.easy strong {
    background: #c8ffcb;
    border: 1px solid #4cd964
}

#question-list li p.medium strong {
	background: #fffbf1;
	border: 1px solid #ffdfc8;
}

#question-list li p.difficult strong {
	background: #fff1f1;
	border: 1px solid #ffc8c8;
}
