/* Maurice Achtenhagen */

#test-questions-wrapper {
	margin: 80px auto;
	width: 550px
}

#test-questions {
	list-style-type: decimal;
	list-style-position: outside;
	width: inherit
}

#test-questions li {
	color: #333;
	font-size: 16px;
	line-height: 26px;
	padding: 40px 20px;
	width: inherit
}

#test-questions li:last-child { border-bottom: 0 }

#test-questions li p {
	display: inline;
    padding-left: 5px
}

#test-questions li p strong {
	background: #c8efff;
	border: 1px solid #4cbbd9;
	font-size: 12px;
	font-weight: 700;
	padding: 0 10px
}

#test-questions li strong {
    background: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 8px;
    text-align: center
}

#test-questions li textarea {
	margin-top: 20px;
	height: 200px;
	min-height: 200px
}

#note {
	background: #FFF3C9;
	border: 1px solid #FEE580;
	border-radius: 4px;
	color: #586069;
	margin-top: 40px;
	padding: 10px;
	text-align: center
}

#note strong { color: #333 }
