
/* Maurice Achtenhagen */

#test-wrapper {
	padding: 40px;
	width: 70%
}

#test-wrapper h1 {
	color: #333;
}

#test-wrapper table {
	border-spacing: 0;
    border-collapse: separate;
	margin-top: 40px;
	width: 100%
}

#test-wrapper table thead td { font-weight: bold }

#test-wrapper table thead td:nth-child(2),
#test-wrapper table thead td:nth-child(3) { text-align: center }

#test-wrapper table td {
	border-bottom: 1px solid #E0E2EA;
	color: #333;
	height: 60px
}

#test-wrapper table td:nth-child(2) input {
	margin: auto;
	text-align: center;
	width: 55px
}
#test-wrapper table td:nth-child(2) { width: 80px }
#test-wrapper table td:last-child   { width: 80px }

#test-questions-wrapper {
	margin: auto;
	width: 550px
}

#test-questions { width: inherit }

#test-questions li {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	color: #333;
	font-size: 16px;
	line-height: 26px;
	padding: 40px 0;
	width: inherit
}

#test-questions li:last-child { border-bottom: 0 }

#test-questions li textarea {
	margin-top: 20px;
	height: 200px;
	min-height: 200px
}

#test-questions li strong {
	background: #f1f8ff;
	border: 1px solid #c8e1ff;
	border-radius: 4px;
	font-size: 12px;
	padding: 0 10px
}

#note {
	background: #FFF3C9;
	border: 1px solid #FEE580;
	border-radius: 4px;
	color: #586069;
	margin-top: 40px;
	padding: 10px;
	text-align: center
}

#note strong { color: #333 }