/* Lists */

.list .item {
	background: #fff;
	border-bottom: 1px solid #f8f8f8;
	cursor: pointer;
	font-family: 'Noway Bold', Helvetica, sans-serif;
	font-size: 18px;
	height: 64px;
	padding: 26px;
}

.list .item:last-child { border-bottom: none }

.list .item:hover {
	background: #5093E1;
	color: #fff
}

.list .item:hover * { color: #fff !important }

.list .item .detail {
	color: #A5A3A3;
	float: right;
	font-family: 'Noway Light', Helvetica, sans-serif;
	font-size: 14px
}

.list .item .detail.left  { float: left }
.list .item .detail.right { float: right }

.list .item .detail.error {
	color: #ff0000;
	font-family: 'Noway', Helvetica, sans-serif;
	font-size: 16px
}

.list .item .detail.date {
	float: left;
	color: #A5A3A3;
	font-size: 14px;
	font-family: 'Noway', Helvetica, sans-serif;
	margin: 2px 25px 0 0;
}